<div class="container">
  <div class="row mt-4">
    <div class="col-sm-6 mt-5">
      <p style="color:#430fc9" class="display-4"><b>CT-HOSPITAL</b></p>
      <ul>
        <li>Book Appointment Online</li>
        <br>
        <li>Automated And Paperless Process</li>
        <br>
        <li>Dashboard For Every User</li>
      </ul>
    </div>

    <div class="col-sm-6">

      <img  class="img-fluid" width="100%" src="/assets/homepage.webp" alt="Homepage image" />
    </div>

  </div>

  <br>
  <div class="container text-center">
    <div class="row">

      <div class="col-md-3">
        <div class="card" style="width: auto;">
          <img class="card-img-top" src="/assets/cardDoctorImage.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card" style="width: auto;">
          <img class="card-img-top" src="/assets/cardDoctorImage2.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card" style="width: auto;">
          <img class="card-img-top" src="/assets/cardDoctorImage3.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card" style="width: auto;">
          <img class="card-img-top" src="/assets/cardDoctorImage.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>

      </div>
    </div>

    <!-- About Us -->
    <section>

    </section>
    <!-- About Us -->

  </div>





  <!-- <div class="bg-text">
  <h2>CT-Hospital</h2>
  <h1 style="font-size:50px">We Make Quality Healthcare</h1>
  <p>Best Medical Care</p>
</div> -->