<!-- <p>
  <mat-toolbar color="warn">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>City Hospital</span>
    <span class="example-spacer"></span>

    <button mat-button [routerLink]="['../admin/dashboard']">Dashboard</button>


    <button mat-button [routerLink]="['../admin/user-registration']">Add user</button>

    <button style="padding-right: 35px;" mat-button [matMenuTriggerFor]="nurse">User list</button>
    <mat-menu #nurse="matMenu" xPosition="before">
      <button mat-menu-item>Physician</button>
      <button mat-menu-item>Nurse</button>
      <button mat-menu-item>Patient</button>
    </mat-menu>

    <button mat-raised-button color="warn" class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>logout</mat-icon> logout
    </button>

  </mat-toolbar>
</p> -->
<app-side-navbar></app-side-navbar>
