<div class="container">
    <div class="row mt-3">
        <!-- greeting -->
        <h1 style="text-align: center;" class="mat-display-1">{{ greetMessage }}</h1>
        <!-- Dashboard Cards -->
        <div class="col-sm-3">
            <mat-card class="cards border border-danger">
                <div class="card-content">
                    <img mat-card-sm-image src="assets/doctor-icon.webp">
                    <mat-card-title>Physician</mat-card-title>
                    <mat-card-subtitle>count</mat-card-subtitle>
                    <mat-card-content>323</mat-card-content>
                </div>
            </mat-card>
        </div>
        <div class="col-sm-3">
            <mat-card class="cards border border-danger">
                <div class="card-content">
                    <img mat-card-sm-image src="assets/nurse-icon.webp">
                    <mat-card-title>Nurse</mat-card-title>
                    <mat-card-subtitle>count</mat-card-subtitle>
                    <mat-card-content>400</mat-card-content>
                </div>
            </mat-card>
        </div>
        <div class="col-sm-3">
            <mat-card class="cards border border-danger">
                <div class="card-content">
                    <img mat-card-sm-image src="assets/ambulance-icon.webp">
                    <mat-card-title>Patient</mat-card-title>
                    <mat-card-subtitle>count</mat-card-subtitle>
                    <mat-card-content>140</mat-card-content>
                </div>
            </mat-card>
        </div>
        <div class="col-sm-3">
            <mat-card class="cards border border-danger">
                <div class="card-content">
                    <img mat-card-sm-image src="assets/pharmacy-icon.jpg">
                    <mat-card-title>Pharmacist</mat-card-title>
                    <mat-card-subtitle>count</mat-card-subtitle>
                    <mat-card-content>100</mat-card-content>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-12">
            <mat-card class="cards border border-danger">
                <div class="card-content">
                    <img mat-card-sm-image src="assets/pharmacy-icon.jpg">
                    <mat-card-title>Pharmacist</mat-card-title>
                    <mat-card-subtitle>count</mat-card-subtitle>
                    <mat-card-content>100</mat-card-content>
                </div>
            </mat-card>
        </div>
    </div>

</div>