mat-form-field {
  width: 50%;
}


.mat-raised-button{
  width: 50%;
  font-size: large;
  padding: 0.6rem;
}

.card {
  flex-direction: row;
  height: 110%;
  border-radius: 10px;
}
.card img {
  width: 40%;
}

@media only screen and (max-width: 768px) {
 
  .card {
    flex-direction: column;
  }
  mat-form-field {
    width: 100%;
  }

  .card img {
    width: 100% !important;
  }

  .container.forgotForm{
    margin: 0 !important;
  }

}
@media only screen and (max-width: 1200px) {
  .card img {
    width: 40%;
  }
 
}

.forgotForm{
  margin-top: 5rem;
}


