<div class="container">
    <mat-card>
        <mat-card-content style="padding: 2rem;">
            <h2>Forgot Password</h2>
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                
                    <mat-form-field>
                        <input matInput type="email" formControlName="email" placeholder="Email Id"  name="email">
                    </mat-form-field>
                    <br><br>
                    <button mat-raised-button color="primary" type="submit" [disabled]="!forgotPasswordForm.valid">Submit</button>
                
            </form>
        </mat-card-content>
    </mat-card>
</div>
