mat-form-field {
  width: 60%;
}

.mat-raised-button{
  width: 60%;
  font-size: large;
  padding: 0.6rem;
}

.card {
  flex-direction: row;
  height: 110%;
  border-radius: 10px;
}
.card img {
  width: 45%;
  height: 70%;
  margin-left: 2rem;
}

.forgotForm{
  margin-top: 5rem;
}