<div class="container">
    <div class="row">
     
      <div class="col-sm-12">
        <div class="card border-0" >
  
          <img src="../../../assets/forgotPassword.webp"  class="card-img-top" alt="..." />
  
          <div class="card-body">
           
  
        <!-- forgot password form -->
  
        <div class="container text-center ml-3 forgotForm">
                    <h3>Forgot Password</h3>
                    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                        
                            <mat-form-field appearance="outline">
                                <input matInput type="email" formControlName="email" placeholder="Email Id"  name="email">
                            </mat-form-field>
                            <br>
                            <button mat-raised-button color="primary" type="submit">Submit</button>
                        
                    </form>
        </div>
        
  
        <!-- forgot password form -->
  
  
          </div>
        </div>
       
  
      </div>
    </div>
  </div>
  
  





