 /* .example-spacer {
   flex: 1 1 auto;
 } */
/* 
 .app-toolbar {
   position: sticky;
   position: -webkit-sticky;
   top: 0;
   z-index: 1000;
 } */

 nav .navbar-nav li a{
  color: rgb(214, 211, 211);
  }

  .navbar-brand{
    color: white !important;
  }

  nav .navbar-nav li a:hover, a:active{
   color: white;
  }
