<div class="container">
    <div class="row mt-4">
        <div class="col-sm-12">
            <mat-card class="cards">
                <!-- greeting -->
                <h1 style="text-align: center;" class="mat-display-1">{{ greetMessage }}</h1>
            </mat-card>
        </div>
    </div>

    <br><br>
    <div class="row">
        <div class="col-sm-12">
            <h1>Upcoming Appointments</h1>
            
            <mat-form-field appearance="standard">
              <mat-label>Filter</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
            </mat-form-field>
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource" matSort matSortDirection="desc">
            
                <!-- ID Column -->
                <!-- <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                  <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                </ng-container> -->
            
                <!-- Date Column -->
                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                  <td mat-cell *matCellDef="let row"> {{row.date}} </td>
                </ng-container>
            
                <!-- Time Column -->
                <ng-container matColumnDef="time">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Time </th>
                  <td mat-cell *matCellDef="let row"> {{row.time}} </td>
                </ng-container>
            
                <!-- Doctor Column -->
                <ng-container matColumnDef="doctor">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Doctor </th>
                  <td mat-cell *matCellDef="let row"> {{row.doctorId}} </td>
                </ng-container>

                
                <!-- Patient Column -->
                <ng-container matColumnDef="patient">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Patient </th>
                  <td mat-cell *matCellDef="let row"> {{row.patientId}} </td>
                </ng-container>
            
                  <!-- Status Column
                  <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                    <td mat-cell *matCellDef="let row"> {{row.status}} </td>
                  </ng-container> -->

                  <!-- Approve Button -->
                  <ng-container matColumnDef="approve">
                    <th mat-header-cell  *matHeaderCellDef > Actions </th>
                    <td mat-cell *matCellDef="let row">
                         <button mat-raised-button color="primary" (click)="performOperation(row.id, 'APPROVED')">Approve</button>
                    </td>
                    </ng-container>

                   <!-- Reject Button -->
                   <ng-container matColumnDef="reject">
                    <th mat-header-cell  *matHeaderCellDef > Actions </th>
                    <td mat-cell *matCellDef="let row" >
                         <button mat-raised-button color="warn" (click)="performOperation(row.id, 'REJECTED')">Reject</button>
                    </td>
                    </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell text-center" colspan="4">No Data</td>
                </tr>
              </table>
            
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
            </div>
        </div>
    </div>
</div>