<div class="container">
    <mat-card>
        <mat-card-content style="padding: 2rem;">
            <h2>Change Password</h2>
            <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                
                    <mat-form-field>
                        <input matInput type="password" formControlName="defaultPassword" placeholder="Default password"  name="defaultPassword">
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <input matInput type="password" formControlName="newPassword" placeholder="New password" name="newPassword">
                        <mat-error *ngIf="changePasswordForm.value.newPassword">Password must be a combination of lower-case, upper-case, numbers and at least 9 characters long</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <input matInput type="password" placeholder="Confirm password" formControlName="confirmPassword"  name="confirmPassword" required pattern="{{changePasswordForm.value.newPassword}}">
                    </mat-form-field>
                    <br><br>
                    <button mat-raised-button color="primary" type="submit" [disabled]="!changePasswordForm.valid">Submit</button>
                
            </form>
        </mat-card-content>
    </mat-card>
</div>
